{% extends "layout.html" %}

{% block content %}
  <div class="container-fluid h-100">
      <div class="row h-100 justify-content-center align-items-center g-0">
          <div class="mydivs-filler col-xs-12 col-sm-3 col-lg-3"></div>
          <div class="mydivs-show col-xs-6 col-sm-3 col-lg-3">
                <div class="row">
                    <h1 class="title">transfer your</h1>
                </div>
                <div class="row">
                    <h1 class="title">music</h1>
                </div>
                <div class="row">
                    <h2 class="subtitle">between Spotify & YouTube</h2>
                </div>
          </div>
          <div class="mydivs-show col-xs-6 col-sm-3 col-lg-2">
              <div class="row mb-3">
                <a class="btn" id="sp-to-yt" href="#" role="button">
                </a>
              </div>
              <div class="row">
                <a class="btn" id="yt-to-sp" href="#" role="button">
                </a>
              </div>
          </div>
          <div class="mydivs-filler col-xs-12 col-sm-3 col-lg-4"></div>
      </div>
    </div>
{% endblock content %}